html {
  scroll-behavior: smooth;
}
h1,
h2,
h3,
p,
a {
  font-family: sans-serif;
  color: #fff;
}
h1,
h2,
h3 {
  padding: 20px;
  margin: 20px;
  font-weight: bolder;
  font-size: 5vw;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.5);
}

h2 {
  font-size: 3vw;
}

h3 {
  font-size: 2vw;
}

.title {
  text-align: center;
  margin-bottom: 70px;
  margin-top: 40px;
  padding: 10px;
}

p {
  max-width: 65ch;
  padding: 30px;
  line-height: 140%;
  font-size: 1.7vw;
}
header ul {
  display: flex;
  font-size: larger;
  list-style: none;
  padding: 50px;
  margin: 50px;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

img {
  max-width: 100%;
  filter: grayscale(100%);
  margin: 10px;
  padding: 10px;
}

video {
  max-width: 100%;
  display: block;
}

#bgvideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  filter: grayscale(100%);
}

@media (min-width: 600px) {
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
img:hover {
  filter: blur(5px);
}

#andrea {
  filter: blur(0px);
  filter: grayscale(100%);
}
.tema {
  position: relative;
  overflow: hidden;
}

.tema img {
  width: 400px;
  height: 300px;
  filter: grayscale(100%);
  object-fit: cover;
  justify-content: center;
  align-items: center;
  transition: mask 0.5s ease;
}

.tema img:hover {
  filter: grayscale(0%);
  transform: scale(2);
  mask: none;
}

.nummer1 {
  mask: url(SVG/1_2.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 110px;
}

.nummer2 {
  mask: url(SVG/2.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 120px;
}

.nummer3 {
  mask: url(SVG/3.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 150px;
}

.nummer4 {
  mask: url(SVG/4.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 135px;
}

.nummer5-1 {
  mask: url(SVG/5.1.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 300px;
}

.nummer5-2 {
  mask: url(SVG/5.2.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 220px;
}

.container {
  border: #fff;
  width: 100%;
  height: auto;
  margin: 15px;
  background-color: rgba(0, 0, 0, 0.7);
}

.bar {
  display: block;
  width: 20px;
  height: 3px;
  margin: 7px;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}

.hamburger {
  display: none;
}

.nav-menu {
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  font-size: 2vw;
  color: white;
}

.nav-link:hover {
  color: rgb(177, 177, 177);
}

@media (max-width: 599px) {
  .nav-menu {
    position: fixed;
    border-radius: 5px;
    left: -150%;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    width: 13%;
    /* opacity: 0.5; */
    text-align: center;
    transition: 0.3s;
    font-size: 5vw;
  }

  .nav-menu.active {
    left: 0;
    z-index: 100;
  }

  .nav-item {
    margin: 5px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
}
